#slider{
    display: none;
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: aqua;
    top: 0px;
    left: 0px;
    text-align: center;

}

#slider h3{
    position: relative;
    padding: 0px;
    margin: 0px;
    top: 25%;
}