ul{
    width: 100px;
    padding: 0px;
    list-style: none;
}

#list{
    width: 120px;
    height: 180px;
    background-color: red;
    border: 2px solid springgreen;
    overflow: auto;
}
#list.border{
    border-width: 5px;
}